<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Password Reset for, <%= @user.email %></h1>
    <p>
      To reset your password, just follow this link: <%= @url %>
    </p>
    <p>Thank you, have a great day!</p>
  </body>
</html>
